# Pandas is really useful for analysis, numbers and text types, e.g. sort of thing you might do in R.

Going to work with students.csv

In [1]:
import pandas as pd

In [4]:
students = pd.read_csv('students.csv')

This creates a Pandas data frame

In [3]:
print(students)

   StudentID             Name    Course  AmountOwed
0     123410         John Doe  Medicine         2.3
1     102100     Alice Carter   CompSci         0.0
2     102101       Paul Smith  Medicine         3.9
3     100201        Tom Jones     Music         1.0
4     102001  Richard Dunning   Physics         0.0
5     102012       Reg Dwight     Music        10.9
6     102014       Joe Turner   Physics         1.2
7     102019         Ed Chalk   CompSci         0.0

In [16]:
#select columns, returns another data frames (sub frame)
print students['Name']

#or

print(students.Name)

0           John Doe
1       Alice Carter
2         Paul Smith
3          Tom Jones
4    Richard Dunning
5         Reg Dwight
6         Joe Turner
7           Ed Chalk
Name: Name, dtype: object
0           John Doe
1       Alice Carter
2         Paul Smith
3          Tom Jones
4    Richard Dunning
5         Reg Dwight
6         Joe Turner
7           Ed Chalk
Name: Name, dtype: object

In [9]:

#can also sub-index this frame:
print(students['Name'][3:])

3          Tom Jones
4    Richard Dunning
5         Reg Dwight
6         Joe Turner
7           Ed Chalk
Name: Name, dtype: object

In [10]:
#to refer to rows instead
print(students.ix[6])

StudentID         102014
Name          Joe Turner
Course           Physics
AmountOwed           1.2
Name: 6, dtype: object

In [44]:
print(students.columns)

Index([u'StudentID', u'Name', u'Course', u'AmountOwed'], dtype='object')

In [17]:
students['AmountOwed'].sum()

19.3

Using argmax to get the entry with the most owed out

In [22]:
maxidx =students['AmountOwed'].argmax()  #  this returns the index of the maximum in the column selected

In [23]:
students.ix[maxidx]

StudentID         102012
Name          Reg Dwight
Course             Music
AmountOwed          10.9
Name: 5, dtype: object

Example of finding the max

In [28]:
import numpy as np
a = np.array([1,2,2,0,0])
print(a.argmax())
np.where(a==a.max())[0]

1

array([1, 2], dtype=int64)

In [30]:
print (students.ix[2]['Course'])

Medicine

In [31]:
print (students['Course'][2])

Medicine

In [33]:
print (students[['Course', 'Name']])

     Course             Name
0  Medicine         John Doe
1   CompSci     Alice Carter
2  Medicine       Paul Smith
3     Music        Tom Jones
4   Physics  Richard Dunning
5     Music       Reg Dwight
6   Physics       Joe Turner
7   CompSci         Ed Chalk

Can still do all the same boolean operations as in numpy

In [36]:
students['AmountOwed'] >3

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
Name: AmountOwed, dtype: bool

In [39]:
owes_more_than3 = students['AmountOwed']>3
print(students.ix[owes_more_than3])

   StudentID        Name    Course  AmountOwed
2     102101  Paul Smith  Medicine         3.9
5     102012  Reg Dwight     Music        10.9

Can us describe similar to R

In [40]:
print(students.describe())

           StudentID  AmountOwed
count       8.000000      8.0000
mean   104482.250000      2.4125
std      7675.125718      3.6876
min    100201.000000      0.0000
25%    102009.250000      0.0000
50%    102016.500000      1.1000
75%    102100.250000      2.7000
max    123410.000000     10.9000

In [ ]:
Can use group by, as sql syle group by

In [43]:
print(students.groupby('Course')['AmountOwed'].mean())

Course
CompSci     0.00
Medicine    3.10
Music       5.95
Physics     0.60
Name: AmountOwed, dtype: float64

In [ ]:
print(students.groupby('Course')['AmountOwed'].mean(), students.groupby('Course')['AmountOwed'].count())